.aboutMeScreen {
  max-width: var(--max-content-width);
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.name {
  margin: 0;
  line-height: 1.15;
  font-size: 4.75rem;
  font-family: 'Junge', serif;
  color: var(--grey-900);
}

.description {
  margin: 1.5rem;
  max-width: 60rem;
  line-height: 1.2;
  font-family: 'Aganè';
  font-weight: 300;
  font-size: 1.8rem;
  color: var(--greybrown-700);
}

.bio {
  padding: 4rem 6rem;
  font-family: 'Source Serif Pro', serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--grey-800);
}
