@font-face {
  font-family: 'Aganè';
  src: url('/fonts/Aganè-45-light.ttf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Aganè';
  src: url('/fonts/Aganè-55-roman.ttf');
  font-style: normal;
  font-weight: 400 500;
  font-display: swap;
}

@font-face {
  font-family: 'Aganè';
  src: url('/fonts/Aganè-65-bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('/fonts/SourceSerifPro-Light.otf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('/fonts/SourceSerifPro-Regular.otf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  /* Global CSS variables go here */
  --max-content-width: 1400px;

  /* Color palette */
  --white: hsl(0, 0%, 100%);

  --grey-100: hsl(0, 0%, 98%);
  --grey-200: hsl(0, 0%, 93%);
  --grey-300: hsl(0, 0%, 84%);
  --grey-400: hsl(0, 0%, 75%);
  --grey-500: hsl(0, 0%, 66%);
  --grey-600: hsl(0, 0%, 58%);
  --grey-700: hsl(0, 0%, 47%);
  --grey-800: hsl(0, 0%, 38%);
  --grey-900: hsl(0, 0%, 20%);

  --emerald-100: hsl(172, 27%, 98%);
  --emerald-200: hsl(172, 27%, 85%);
  --emerald-300: hsl(172, 27%, 71%);
  --emerald-400: hsl(172, 27%, 57%);
  --emerald-500: hsl(172, 27%, 44%);
  --emerald-600: hsl(172, 27%, 38%);
  --emerald-700: hsl(172, 27%, 32%);
  --emerald-800: hsl(172, 27%, 26%);
  --emerald-900: hsl(172, 27%, 20%);

  --aqua-100: hsl(189, 48%, 98%);
  --aqua-200: hsl(189, 50%, 93%);
  --aqua-300: hsl(189, 55%, 88%);
  --aqua-400: hsl(189, 60%, 77%);
  --aqua-500: hsl(189, 60%, 66%);
  --aqua-600: hsl(189, 61%, 55%);
  --aqua-700: hsl(189, 65%, 44%);
  --aqua-800: hsl(189, 68%, 33%);
  --aqua-900: hsl(189, 70%, 23%);

  --greybrown-100: hsl(32, 8%, 98%);
  --greybrown-200: hsl(32, 8%, 90%);
  --greybrown-300: hsl(32, 8%, 79%);
  --greybrown-400: hsl(32, 8%, 71%);
  --greybrown-500: hsl(32, 9%, 58%);
  --greybrown-600: hsl(32, 9%, 46%);
  --greybrown-700: hsl(32, 10%, 40%);
  --greybrown-800: hsl(32, 10%, 28%);
  --greybrown-900: hsl(32, 10%, 20%);

  --brown-100: hsl(57, 11%, 98%);
  --brown-200: hsl(57, 11%, 82%);
  --brown-300: hsl(57, 11%, 66%);
  --brown-400: hsl(57, 11%, 50%);
  --brown-500: hsl(57, 11%, 36%);
  --brown-600: hsl(57, 14%, 32%);
  --brown-700: hsl(57, 20%, 28%);
  --brown-800: hsl(57, 30%, 24%);
  --brown-900: hsl(57, 30%, 20%);

  --seafoam-100: hsl(168, 65%, 98%);
  --seafoam-200: hsl(168, 65%, 85%);
  --seafoam-300: hsl(168, 68%, 67%);
  --seafoam-400: hsl(168, 70%, 45%);
  --seafoam-500: hsl(168, 76%, 36%);
  --seafoam-600: hsl(168, 77%, 32%);
  --seafoam-700: hsl(168, 81%, 28%);
  --seafoam-800: hsl(168, 84%, 24%);
  --seafoam-900: hsl(168, 86%, 20%);

  --eggplant-100: hsl(230, 35%, 98%);
  --eggplant-200: hsl(230, 36%, 95%);
  --eggplant-300: hsl(230, 40%, 87%);
  --eggplant-400: hsl(230, 45%, 73%);
  --eggplant-500: hsl(230, 48%, 58%);
  --eggplant-600: hsl(230, 58%, 48%);
  --eggplant-700: hsl(230, 68%, 39%);
  --eggplant-800: hsl(230, 78%, 30%);
  --eggplant-900: hsl(230, 88%, 21%);

  --sandstone-100: hsl(46, 36%, 98%);
  --sandstone-200: hsl(46, 59%, 94%);
  --sandstone-300: hsl(46, 36%, 80%);
  --sandstone-400: hsl(46, 36%, 71%);
  --sandstone-500: hsl(46, 36%, 62%);
  --sandstone-600: hsl(46, 39%, 51%);
  --sandstone-700: hsl(46, 43%, 41%);
  --sandstone-800: hsl(46, 46%, 30%);
  --sandstone-900: hsl(46, 50%, 20%);

  --orange-100: hsl(36, 85%, 98%);
  --orange-200: hsl(36, 85%, 88%);
  --orange-300: hsl(36, 85%, 78%);
  --orange-400: hsl(36, 85%, 68%);
  --orange-500: hsl(36, 85%, 59%);
  --orange-600: hsl(36, 85%, 50%);
  --orange-700: hsl(36, 85%, 40%);
  --orange-800: hsl(36, 85%, 30%);
  --orange-900: hsl(36, 85%, 20%);
}

html {
  /* 16px * 62.5% = 10px = 1rem */
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  /* Bring default font size back to 16px. */
  font-size: 1.6rem;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
