.homeScreen {
  max-width: var(--max-content-width);
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.name {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-family: 'Junge', serif;
  color: var(--grey-900);
}

.whatIDo {
  max-width: 36rem;
  line-height: 1.2;
  font-family: 'Aganè';
  font-weight: 300;
  font-size: 1.9rem;
  color: var(--greybrown-700);
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.roles {
  max-width: 36rem;
  font-family: 'Aganè';
  font-weight: 300;
  font-size: 1.7rem;
  color: var(--greybrown-700);
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.sectionList {
  display: grid;
  row-gap: 1.5rem;
  padding: 2rem;
}

.sectionCard {
  padding: 1.25rem;
  border: 1px solid var(--emerald-400);
  border-radius: 8px;
  transition: all 150ms ease-in-out;
}

.sectionCard:hover,
.sectionCard:focus,
.sectionCard:active {
  border-color: var(--aqua-100);
  transform: scale(1.015);
  box-shadow: 3px 7px 18px 2px var(--aqua-400);
  transition: all 150ms ease-in-out;
}

.sectionCard h2 {
  margin: 0 0 1rem 0;
  font-family: 'Aganè';
  font-weight: 700;
  font-size: 2.2rem;
  color: var(--emerald-800);
}

.sectionCard p {
  margin: 0;
  font-family: 'Junge', serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--greybrown-800);
}


@media (min-width: 500px) {
  .name {
    line-height: 1.15;
    font-size: 6rem;
  }

  .whatIDo {
    max-width: 60rem;
    line-height: 1.2;
    font-size: 2.4rem;
    margin-block-start: 1.3rem;
    margin-block-end: 1.3rem;
  }

  .roles {
    max-width: 60rem;
    font-size: 1.8rem;
    margin-block-start: 1.3rem;
    margin-block-end: 1.3rem;
  }

  .sectionList {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-rows: minmax(10rem, auto);
    gap: 2rem;
    padding: 4rem 2rem;
  }
}
